{% load_yaml as rawmap %}
default:
    tables:
        secrets: 
            type: inline
            entries:
                user1: "'$2a$06$hIJ4QfMcp.90nJwKqGbKM.MybArjHOTpEtoTV.DgLYAiThuoYmTSe'"
                user2: "'$2a$06$bwSmUOBGcZGamIfRuXGTvuTo3VLbPG9k5yeKNMBtULBhksV5KdGsK'"
        aliases:
            path: aliases
            type: file 
            entries:
                user1: otheruser 
                user2: otheruser1,otheruser2 
                user3: otheruser@example.com
{% endload %}
{% set defaults = salt['grains.filter_by'](rawmap, grain='os_family',
        merge=salt['pillar.get']('opensmtpd:defaults')) %}
