{% load_yaml as rawmap %}
default:
    listen_on:
        - lo0
    tables:
        aliases:
            path: aliases
            type: file
    rules:
        local (w/ aliases) to mboxes:
            type: accept
            for: local
            alias: '<aliases>'
            deliver: mbox
        reject anything not from localhost:
            type: reject
            from: '! local'
            for: any
{% endload %}
{% set defaults = salt['grains.filter_by'](rawmap, grain='os_family',
        merge=salt['pillar.get']('opensmtpd:defaults')) %}
